name: publish

on:
    push:
        branches: 
            main

jobs:
    publish-tauri:
        permissions:
          contents: write
        strategy:
          fail-fast: false
          matrix:
            platform: [macos-latest, ubuntu-20.04, windows-latest]
        
        runs-on: ${{ matrix.platform }}
        steps:
            - uses: actions/checkout@v4
      
            - name: setup node
              uses: actions/setup-node@v4
              with:
                node-version: 18
      
            - name: install Rust stable
              uses: dtolnay/rust-toolchain@stable
      
            - name: install dependencies (ubuntu only)
              if: matrix.platform == 'ubuntu-20.04'
              run: |
                sudo apt-get update
                sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
      
            - name: install frontend dependencies
              run: npm install
      
            - name: install 
              if: matrix.platform == 'macos-latest'
              run: rustup target add aarch64-apple-darwin
      
            - uses: tauri-apps/tauri-action@v0
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                includeUpdaterJson: false
                tagName: v__VERSION__
                releaseName: "GyverHub Desktop v__VERSION__"
                releaseBody: "See the assets to download this version and install."
                releaseDraft: true
                prerelease: false
            
            - uses: tauri-apps/tauri-action@v0
              if: matrix.platform == 'macos-latest'
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                includeUpdaterJson: false
                tagName: v__VERSION__
                releaseName: "GyverHub Desktop v__VERSION__"
                releaseBody: "See the assets to download this version and install."
                releaseDraft: true
                prerelease: false
                args: "--target aarch64-apple-darwin"
          
